* {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.header {
    height: 100px;
    padding: 10px;
}

.header-aline {
    display: flex;
}

.logo-AKGS {
    height: 100px;
    width: 100px;
}

.grow {
    flex-grow: 1;
}

.logo-WCS {
    width: 100px;
    height: 100px;
}

.page-perso-aline {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.bloc-identite-aline{
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 5vw;
}

.identite-aline{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

q{
    font-style: italic;
    font-size: 15px;
}


.logo-html{
    width: 50px;
    height: 50px;
}

.logo-css{
    width: 50px;
    height: 50px;
}

.logo-js{
    width: 50px;
    height: 50px;
}

.logo-react{
    width: 50px;
    height: 50px;
}

.photo-aline{
    display: flex;
    padding: 30px;
}

.bloc-presentation-aline{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.qui-suis-je-aline{
    display: flex;
    flex-direction: column;



}