body{
    font-family: 'Raleway', sans-serif;
}

.container-presentation{
    display: flex;
    justify-content: center;
    gap: 3vw;
    padding-right: 3vw;
    padding-left: 3vw;
}

.section-icone{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container-picto{
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    align-items: center;
}

.titre-icones{
    font-size: 20px;
    font-weight: bold;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    white-space: nowrap;
}

.material-icons{
    color : #F76C6C;
}

p{
    display: block;
    line-height: 30px;
}

.titre-icones{
    text-align: center;
    font-weight: bolder;
}


@media all and (max-width: 568px) {
    .container-presentation {
        display: block;
        text-align: center;
    }

    .section-icone {
        display: block;
        text-align: center;
    }
}




